@inherits LayoutComponentBase
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity;
@using MyBudget
@using MyBudget.Components
@using MudBlazor.Services
@inject ISnackbar Snackbar
@inject ILogger<MainLayout> Logger

<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudText class="pr-3" Color="Color.Warning" Typo="Typo.h5">MyBudget</MudText>
        <MudAvatar Color="Color.Warning" Variant="Variant.Filled" Size="Size.Medium">
            <MudIcon Color="Color.Dark" Icon="@Icons.Material.Filled.AttachMoney" Size="Size.Large" />
        </MudAvatar>
        <MudSpacer />
        <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle" />
        @if (isAuthenticated)
        {
             <MudLink Href="/Account/Logout">
                Logout
            </MudLink>
        }
        else
        {
            <MudLink Href="/Login">
                Login
            </MudLink>
        }
    </MudAppBar>
    <MudDrawer @bind-Open="@_open" Breakpoint="Breakpoint.MdAndUp" Elevation="2" ClipMode="DrawerClipMode.Always" Variant="@DrawerVariant.Responsive">
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="pt-16 px-16" Style="@MudMainContentStyle" MaxWidth="MaxWidth.Medium">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool _open = false;
    private bool _isDarkMode = true;
    private MudTheme? _theme = null;
    private bool isAuthenticated;

    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = default!;

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    [Inject]
    private SignInManager<IdentityUser> SignInManager { get; set; } = default!;

    [Inject] private IBrowserViewportService BrowserViewportService { get; set; }

    private string MudMainContentStyle => _open ? "margin-left: 240px; transition: margin 0.3s;" : "margin-left: 0px; transition: margin 0.3s;";


    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;
        base.OnInitialized();

        _theme = new()
            {
                PaletteLight = _lightPalette,
                PaletteDark = _darkPalette,
                LayoutProperties = new LayoutProperties()
            };
    }

    private void NavigateToLogout()
    {
        NavigationManager.NavigateTo("/Logout");
    }
    private void NavigateToLogin()

    {
        if (NavigationManager.Uri.Contains("/Account/Login", StringComparison.OrdinalIgnoreCase))
        {
            return; // Evita redirecionamento se já estiver na página de login
        }
        NavigationManager.NavigateTo("/Account/Login");
    }



    private void ToggleDrawer()
    {
        _open = !_open;
    }

    private void DarkModeToggle()
    {
        _isDarkMode = !_isDarkMode;
    }

    private readonly PaletteLight _lightPalette = new()
        {
            Black = "#110e2d",
            AppbarText = "#424242",
            AppbarBackground = "rgba(255,255,255,0.8)",
            DrawerBackground = "#ffffff",
            GrayLight = "#e8e8e8",
            GrayLighter = "#f9f9f9",
        };

    private readonly PaletteDark _darkPalette = new()
        {
            Primary = "#7e6fff",
            Surface = "#1e1e2d",
            Background = "#1a1a27",
            BackgroundGray = "#151521",
            AppbarText = "#92929f",
            AppbarBackground = "rgba(26,26,39,0.8)",
            DrawerBackground = "#1a1a27",
            ActionDefault = "#74718e",
            ActionDisabled = "#9999994d",
            ActionDisabledBackground = "#605f6d4d",
            TextPrimary = "#b2b0bf",
            TextSecondary = "#92929f",
            TextDisabled = "#ffffff33",
            DrawerIcon = "#92929f",
            DrawerText = "#92929f",
            GrayLight = "#2a2833",
            GrayLighter = "#1e1e2d",
            Info = "#4a86ff",
            Success = "#3dcb6c",
            Warning = "#ffb545",
            Error = "#ff3f5f",
            LinesDefault = "#33323e",
            TableLines = "#33323e",
            Divider = "#292838",
            OverlayLight = "#1e1e2d80",
        };

    public string DarkLightModeButtonIcon => _isDarkMode switch
    {
        true => Icons.Material.Rounded.WbSunny,
        false => Icons.Material.Outlined.DarkMode,
    };
}


