@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@using Microsoft.EntityFrameworkCore
@using MyBudget.Models
@using MyBudget.Data
@using MudBlazor.Services
@attribute [Authorize]
@implements IAsyncDisposable
@inject IDbContextFactory<MyBudget.Data.MyBudgetContext> DbFactory

<PageTitle>Home</PageTitle>

@if (categorySummaries.Count > 0)
{
    string[] stringArray = data
    .Select(d => d.ToString("F2")) // Formata com 2 casas decimais, se necessário
    .ToArray();

    var combined = labels.Zip(stringArray, (a, b) => $"{a} - {b}").ToArray();

    <MudContainer Class="d-flex flex-wrap flex-grow-1 gap-2 pa-2" style="justify-content: center" Elevation="1">
        @foreach (var account in context.Account.OrderBy(a => a.Name))
        {
            <MudCard Style="@($"background-color:{@account.Color}; font-weight: 900; ")" Width="10rem" Height="6rem">
                <MudCardContent>
                    <MudText Typo="Typo.body2" Style="mix-blend-mode: color-dodge;"><b>@account.Name</b></MudText>
                    <MudNumericField Format="C2" T="decimal" HideSpinButtons="true" Typo="Typo.body1" Style="mix-blend-mode: color-dodge" Value="@account.CurrentBalance" />
                </MudCardContent>
            </MudCard>
        }
    </MudContainer>

    <MudGrid>
        <MudItem xl="2" md="2" sm="6" xs="12">
            <MudCard Outlined="true">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudIcon Icon="@Icons.Material.Filled.ArrowDownward" Size="Size.Large" Color="Color.Success" />
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText>@labelsType[1]</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Style="float: right" Typo="Typo.body1">R$ @dataType[1]</MudText>
                </MudCardContent>
            </MudCard>
            <MudCard Outlined="true">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudIcon Icon="@Icons.Material.Filled.ArrowUpward" Size="Size.Large" Color="Color.Error" />
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText>@labelsType[0]</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Style="float: right" Typo="Typo.body1">R$ @dataType[0]</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudBreakpointProvider>
            <MudHidden Breakpoint="Breakpoint.Xs">
                <MudItem lg="3" md="6" sm="12">
                    <MudChart ChartType="ChartType.Pie" LegendPosition="Position.Bottom"  InputData="@data.ToArray()" InputLabels="@combined" />
                </MudItem>
            </MudHidden>
        </MudBreakpointProvider>
    </MudGrid>

}
else
{
    <p>Loading...</p>
}

@code {
    private MyBudgetContext context = default!;
    private List<Record> records;
    private List<CategorySummary> categorySummaries = new();
    private List<TypeSummary> typeSummaries = new();
    private List<double> data = new();
    private List<string> labels = new();
    private List<string> labelsType = new();
    private List<double> dataType = new();

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }
    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();
        records = await context.Record
        .Include(r => r.Category) // Inclui Category
        .Include(r => r.User)     // Inclui User, se existir
        .Include(r => r.FromAccount)
        .ToListAsync();

        // Consulta para agrupar e somar valores por categoria
        categorySummaries = await context.Record
            .Include(r => r.Category) // Inclui os dados da Category
            .GroupBy(r => r.Category.Name) // Agrupa por nome da categoria
            .Select(g => new CategorySummary
                {
                    CategoryName = g.Key,
                    TotalAmount = g.Sum(r => r.Amount)

                })
                .Where(r => r.CategoryName != "Salary")
            .OrderByDescending(g => g.TotalAmount)
            .ToListAsync();

        typeSummaries = records
        .GroupBy(r => r.Type)
        .Select(g => new TypeSummary
            {
                Type = g.Key,
                TotalAmount = g.Sum(r => r.Amount)
            })
        .ToList();

        foreach (var summary in categorySummaries)
        {
            data.Add((double)summary.TotalAmount);
            labels.Add(summary.CategoryName);
        }
        foreach (var typeSummary in typeSummaries)
        {
            labelsType.Add(typeSummary.Type);
            dataType.Add((double)typeSummary.TotalAmount);
        }
    }

    private class CategorySummary
    {
        public string CategoryName { get; set; } = string.Empty;
        public decimal TotalAmount { get; set; }
    }

    public class TypeSummary
    {
        public string Type { get; set; } = string.Empty;
        public decimal TotalAmount { get; set; }
    }



    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}